.article-grid{
    margin-left: 50px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.article{
    margin-left: 70px;
    margin-right: 70px;
    position: relative;
}

.article-text{
    margin-right: 30px;
    position: absolute;
    bottom: 0px;
    background-color: white;
}

.article-info{
    display:flex;
    flex-direction: row;
}

.category{
    margin-right: 30px;
    color: #a3a1ac;
    font-weight: bold;
}

.article-img{
width: 100%;
height: 100%
}