<div class="article-grid">
    <div class="article">
        <img class="article-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJiT-UHSm6w0Jperb8SitpfoAKeMUE3uynPg5YO-2Drw&s" alt="">
        <div class="article-text">
            <div class="article-info">
                <p class="category">Category</p>
                <p class="lenght">5 MIN READ</p>
            </div>
            <h2 class="title">Article Title Exemple, No Real Content On This</h2>
            <p class="date">09.13.2017</p>
        </div>
    </div>
    <div class="article">
        <img class="article-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJiT-UHSm6w0Jperb8SitpfoAKeMUE3uynPg5YO-2Drw&s" alt="">
        <div class="article-text">
            <div class="article-info">
                <p class="category">Category</p>
                <p class="lenght">5 MIN READ</p>
            </div>
            <h2 class="title">Article Title Exemple, No Real Content On This</h2>
            <p class="date">09.13.2017</p>
        </div>
    </div>
    <div class="article">
        <img class="article-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJiT-UHSm6w0Jperb8SitpfoAKeMUE3uynPg5YO-2Drw&s" alt="">
        <div class="article-text">
            <div class="article-info">
                <p class="category">Category</p>
                <p class="lenght">5 MIN READ</p>
            </div>
            <h2 class="title">Article Title Exemple, No Real Content On This</h2>
            <p class="date">09.13.2017</p>
        </div>
    </div>
</div>
