<div class="first-row">
    <section class="brand">
        <img class="logo" src="/assets/logo.ico" alt="guitar shaped logo">
        <p class="company">Ganduzin.dev</p>
        <p class="blog-title">BLOG</p>
    </section>
    <section class="subscribe-section">
        <form class="subscribe-form">
            <input type="text" class="email" placeholder="Email Address">
            <button type="submit">SUBSCRIBE</button>
        </form>
    </section>
</div>
<section class="menu">
    <a class="menu-link" href="">Front-End</a>
    <a class="menu-link" href="">Back-End</a>
    <a class="menu-link" href="">Full-Stack</a>
    <a class="menu-link" href="">Angular</a>
    <a class="menu-link" href="">Java</a>
</section>

