<app-header></app-header>
<app-big-card 
titleInputed="Article Title Exemple, No Real Content On This" 
photoBomb="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJiT-UHSm6w0Jperb8SitpfoAKeMUE3uynPg5YO-2Drw&s"
category="Full Stack"
lenght="5"
date="02.10.2023"></app-big-card>
<div class="article-grid">
    <app-small-card 
    titleInputed="Article Title Exemple, No Real Content On This" 
    photoBomb="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJiT-UHSm6w0Jperb8SitpfoAKeMUE3uynPg5YO-2Drw&s"
    category="Full Stack"
    lenght="5"
    date="02.10.2023"></app-small-card>
    <app-small-card 
    titleInputed="Article Title Exemple, No Real Content On This" 
    photoBomb="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJiT-UHSm6w0Jperb8SitpfoAKeMUE3uynPg5YO-2Drw&s"
    category="Full Stack"
    lenght="5"
    date="02.10.2023"></app-small-card>
    <app-small-card 
    titleInputed="Article Title Exemple, No Real Content On This" 
    photoBomb="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJiT-UHSm6w0Jperb8SitpfoAKeMUE3uynPg5YO-2Drw&s"
    category="Full Stack"
    lenght="5"
    date="02.10.2023"></app-small-card>
</div>

<router-outlet></router-outlet>
